:root{
    --color-blue-dark: #224b6efa;
    --color-blue-dark-2:#2f323e;
    --color-blue-light:#276fadfa;
    --color-blue-light-2:#278de6fa;
           --color-red-1:#e74c3c;
           --color-red-2:#c0392b;
    --bg-color:#f8f8f8;
    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-dark-1:#202020;
    --grey-dark-2: #777;
    --grey-dark-3: #999;
    --grey-dark-4:#0b131a;
    --grey-dark-5:#333;
    --grey-dark-6:#444444;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.25);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: 1px solid var(--grey-dark-3);

}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;


    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size:50%;
    }

    @include respond(big-desktop){
        font-size: 75%; //1rem = 12px
    }


  
}

body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--grey-dark-3);
    box-sizing: border-box;
}

// .row{
//    width: 114rem;
//     margin: 0 auto
// }
